{% extends 'receptionist/base.html' %}
{% block rcontent %}
{% if error %}
  <p style="color:red"><strong>Some error occoured, {{error}}</strong></p>
{% endif %}

<form method="post">
  <p>
    <label for="name">Name:</label>
    <input required type="text" id="name" name="name" required><br>
  </p>
  <p>
        <label for="phone">Phone number:</label>
        <input required type="tel" id="phone" name="phone" pattern="[0-9]{10}" required><br>
  </p>
  <p>
    <label for="age">Age:</label>
    <input required type="number" id="age" name="age" required><br>
  </p>
  <p>
    <button type="submit"">Submit</button>
  </p>
 </form>
  
{% endblock %}