{% extends 'receptionist/base.html' %}

{% block rcontent %}
    <h1>{% block title %} Bill {% endblock %}</h1>
    <table>
        <tr><th>type of payment </th><th> amount </th><th>status </th><th>date of initiation</th></tr>
    {% for book in books %}
            <tr>
            <td>{{book[0]}}</td>  <td>{{book[1]}}</td>
            <td>{{book[2]}}</td><td>{{book[3]}}</td>
            </tr>
    {% endfor %}
    </table>
    <p>Total : {{total}}</p>
    <p>Discount : {{discount}}</p>
    <p>Cashback: {{discounted}}</p>
    <p>Due : {{due}}</p>
    <form action="/payment/{{customer_id}}" method="post">
        <p>
            <button type="submit">Make payment</button>
        </p>
    </form>
{% endblock %}