{% extends 'receptionist/base.html' %}

{% block rcontent %}
{% if error %}
    <p style="color:red"><strong>Some error occoured, {{error}}</strong></p>
{% endif %}
<form method="post">
    <p>
        <label for="customer_id">Customerid:</label>
        <input required type="text" name="customer_id"
               placeholder="">
        </input>
    </p>

    <p>
        <label for="indate">In date-time:</label>
        <input required type="datetime-local" name="indate"
               placeholder="">
        </input>
    </p>
    <p>
        <label for="outdate">Out date-time:</label>
        <input required type="datetime-local" name="outdate"
               placeholder="">
        </input>
    </p>
    <p>
        <label for="type">Choose a type of service:</label>
        <select id="type" name="type">
            {% for ser in services %}
            <option value="{{ser[1]}}">{{ser[1]}}, price: {{ser[2]}}</option>
            {% endfor %}
        </select>
    </p>

    <p>
        <button type="submit">Submit</button>
    </p>
</form>
{% endblock %}
