
{% extends 'base.html' %}

{% block content %}
<p>form for closest room </p>
<form method="post">
    
    <p>
        <label for="indate">indate </label>
        <input type="datetime-local" name="indate"
               placeholder="">
        </input>
    </p>
    <p>
        <label for="outdate">outdate </label>
        <input type="datetime-local" name="outdate"
               placeholder="">
        </input>
    </p>
    <p>
        <label for="type">Choose a type of room:</label>
        <select id="type" name="type">
          <option value="premium">premium</option>
          <option value="basic">basic</option>
          <option value="ac">ac</option>
          <option value="non-ac">non-ac</option>
        </select>
    </p>
    <p>
        <label for="size">size</label>
        <input type="number" name="size"
               placeholder="">
        </input>
    </p>

    <p>
        <button type="submit">Submit</button>
    </p>
</form>
{% endblock %}
