{% extends 'base.html' %}
{% block content %}
<center>

<a href="{{url_for('manager')}}">manager</a>
<p>hello</p>
</center>

<center>

<table>
    <tr><th><b>options</b></th><th><b>message</b></th></tr>
    <tr><td>

<a href="{{url_for('addaccessory')}}">update accessory</a>
<br>
<a href="{{url_for('finzeroac')}}">find accessory that is unavailaible</a>
<br>
<a href="{{url_for('messageforman')}}">message the receptionist</a>
<br>



    </td><td>
        
        <table>
            <tr><th>time</th><th>source</th><th>message</th></tr>
            {% for mess in message %}
                <tr>
                    {% for muss in mess %}
                        <td>
                            {{muss}}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>



    </td></tr>
</table>
</center>
{% endblock %}