{% extends 'base.html' %}
{% block content %}
    <a href="{{url_for('receptionist')}}">receptionist</a>
<div class="topnav">
    <a href="{{url_for('roombook')}}">Book Room</a>
    <a href="{{url_for('createcustomer')}}">Customers</a>
    <a href="{{url_for('closest')}}">Find Closest Room Availability</a>
    <a href="{{url_for('lookup')}}">Accessories</a>
    <a href="{{url_for('forservice')}}">Services</a>
    <a href="{{url_for('finalbill')}}">Final Bill</a>
    <a href="{{url_for('messageforrecep')}}">Messaging</a>
    <a href="{{url_for('cancelbooking')}}">Cancel Booking</a>
</div>
<center>
    <table>
            <tr><th>time</th><th>source</th><th>message</th></tr>
            {% for mess in message %}
                <tr>
                    {% for muss in mess %}
                        <td>
                            {{muss}}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
</center>
{% endblock %}