{% extends 'base.html' %}
{% block content %}
<center>

<a href="{{url_for('worker')}}">worker</a>
<p>hello</p>
<h1>{% block title %} closest dates {% endblock %}</h1>
    <table>
        <tr><th>payment_id</th><th>service_id </th><th> startime </th><th>endtime</th></tr>
    {% for book in books %}
            <tr>
            <td>{{book[0]}}</td>  <td>{{book[1]}}</td>
            <td>{{book[2]}}</td><td>{{book[3]}}</td>
            </tr>
    {% endfor %}
    </table>
<br>
</center>
{% endblock %}