{% extends 'base.html' %}
{% block content %}
<center>

<a href="{{url_for('manager_login')}}">manager</a>
<p>hello</p>
</center>
<div class="dropdown">
<button onclick="myFunction('m1')" class="dropbtn">Manage Accessories</button>
    <div id="m1" class="dropdown-content">
        <a href="{{url_for('update_accessories')}}">Update Accessories</a>
        <a href="{{url_for('finished_accessories')}}">Finished Accessories</a>
        <a href="{{url_for('add_accessory')}}">Add new Accessory</a>
        <a href="{{url_for('delete_accessories')}}">Delete Accessory</a>
    </div>
</div>
<div class="dropdown">
<button onclick="myFunction('m2')" class="dropbtn">Messaging</button>
    <div id="m2" class="dropdown-content">
        <a href="{{url_for('manager_message')}}">Send Message</a>
    </div>
</div>
{% block mcontent %}
{% endblock %} 
{% endblock %}