{% extends 'base.html' %}

{% block content %}
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Quantity Availability</th>
            <th>Delete</th>
        </tr>
        {% for accessory in accessories %}
        <tr>
            <form method="post">
            <td><input type="text" name="id" readonly value="{{accessory[0]}}"></td>
            <td><input type="text" name="name" id="name" readonly value="{{accessory[1]}}"></td>
            <td><input type="number" name="cost" id="cost" readonly value={{accessory[2]}}></td>
            <td><input type="number" name="quantity" id="quantity" readonly value={{accessory[3]}}></td>
            <td><button type="submit">Delete</button>  </td>
            </form>
        </tr>
        {% endfor %}
    </table>
{% endblock %}